<%- include('../partials/header') %>
    <h1>Flight <%= flight.flightNo %> </h1>
  <table>
    <thead>
      <tr>
        <th>Airline</th>
        <th>Airport</th>
        <th>Departure</th>
        <th>Destinations</th>
      </tr>
    </thead>
    <tbody>
        <tr>
          <td><%= flight.airline %></td>
          <td><%= flight.airport %></td>
          <td><%= flight.departs %></td>
          <td><% if (flight.destinations.length) { %>
            <table>
              <thead>
              <tr>
                <th>Airport</th>
                <th>Arrival</th>
                <th>Remove Destination</th>
              </tr>
              </thead>
              <tbody>
              <% flight.destinations.forEach(function(d) { %>
                <tr>
                <td><%= d.airport %></td>
                <td><%= d.arrival %></td>
              <% }); %>
              </tbody>
            </table>
            <% } else { %>
            <h5>No Destinations Yet</h5>
            <% } %></td>
        </tr>
    </tbody>
  </table>

</br> 
<h3>Tickets:</h3>
<ul>
    <% tickets.forEach(ticket => { %>
     <li>Seat: <%= ticket.seat %> Price: $<%= ticket.price %> </li>
    <% }) %>
</ul>
  <br><br><h2>Add Destination</h2>
 <form method="POST"
   action="/flights/<%= flight._id %>/destinations">
   <label>Airport:</label>
   <select name="airport">
     <option value="AUS">AUS</option>
     <option value="DFW">DFW</option>
     <option value="DEN">DEN</option>
     <option value="LAX">LAX</option>
     <option value="SAN">SAN</option>
   </select>
   <label>Arrival
    <input type="datetime-local" name="arrival">
</label><br>
<input type="submit" value="Add Destination">
 </form>
 <br> 
 <h3>Add Ticket</h3>
 <form action="/flights/<%= flight._id %>/tickets " method="POST"> 
     <label>Seat: <br>req.(A-F+1-9)</label>
    <input name="seat" required pattern="[A-F][1-9]\d?">
     <label>Price: $</label>
    <input name="price" type="text" value="">
     <input type="submit" value="Add Ticket">
 </form>
</body>
</html>